#container{
    text-align: center;
    border: solid;
    margin-top: 2em;
    margin-right: 16em;
    margin-left: 15em;
    padding-bottom: 3em;
}

#title{
    padding-bottom: 3em;
}

#games{
    padding-bottom: 3em;
}

#gameresults{
    color: blue;
}

#results{
    color: red;
}
